
.login_body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;

}
.login_img{
    display: block;
    width: 80px;
    margin: 30px auto;
    box-shadow: 0 5x 10px -7px #333333;
    border-radius: 50%;
}
.login_title{
    text-align: center;

}
.form{
    background-color: #ffffff;
    width: 500px;
    margin: 50px auto 10px auto;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
}
.login_input{
    border-radius: 100px;
    padding: 10px 15px;
    width: 50%;
    border: 1px solid #bdb2b2;
    outline:none;
    display:block;
    margin: 20px auto 20px auto;
}
.login_submit{
    cursor: pointer;
    border-radius: 100px;
    border: none;
    width: 50%;
    padding: 10px;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px #e70909;
    display: block;
    margin: 55px auto 10px auto;
}

